<head>
  <meta http-equiv="refresh" content="5;url=https://foodstre.am/#/firstLogin" />
<header class='success-header'>Congratulations, You have Sucessfully signed up for foodstre.am!</header>
<h3 class='success-message'>You will be redirected to your profile information page in 5 seconds</h3>
<h4 class='sucess-message'>Please fill out your personal information on the user profile page!!</h4>
